.ipynb_checkpoints/
node_modules/
testing/
previousRequests/
fespadea/
scratchAuthenticationToken.*
*_projects.json
*_urls.txt
swifty2/
testing.ipynb
projectJsons/
projectsDownloadedFromJsons/
swifty2ProjectJsons/
